.player-container{
  min-width: 100vh;
  min-height: 100vh;
}

.wrapper{
  display: flex;
  flex-direction: column;
}
.episode-nav{
  display: flex;
  margin-top: -100px;
  min-height: 50px;
  padding: 0 10px;
  z-index: 2;
}

.btn{
  border-radius: 0 !important;
}

.episode-nav button{
  width: 100px;
  background-color: rgba(51, 51, 51, 0.5) ;
}

.episode-nav .previous{
  margin-right: auto;
}

.episode-nav .next{
  margin-left: auto;
}

video {
  object-fit: fill;
}