<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/static/css/plyr.css"/>
    <link rel="stylesheet" href="/static/css/episode.css"/>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main class="full">
      <div class="wrapper">
        <div class="player-container">
          <video id="player" controls>
            <source src="<%= episode.url %>" type="video/mp4">
          </video>
        </div>
        <div class="episode-nav" id="episode-nav">
          <button class="btn btn-outline-light previous">
            <i class="fas fa-arrow-left"></i>
          </button>
          <button class="btn btn-outline-light next">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </main>
    <script src="/static/js/plyr.min.js"></script>
    <script src="/static/js/episode.js"></script>
  </body>
</html>