<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/static/css/shows.css">
</head>
<body>
  <% include ../partials/header %>
  <main>
    <div class="container">
    <% animes.forEach(anime => { %>
      <div class="card anime" onclick="window.location.href = '/<%= anime.title %>'">
        <img class="card-img-top" src="<%= anime.posterImageUrl %>">
        <div class="card-body">
          <h5 class="card-title"><%= anime.title %></h5>
        </div>
      </div>
    <% }) %>
    </div>
  </main>
</body>
</html>