<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<style>
  body{
    background-color: #333333;
    padding: 0;
    margin: 0;
  }

  .search-btn{
    display: inline-block;
    height: 38px;
    width: 38px;
    color: white;
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
  }

  .search-btn:hover{
    border: 1px solid white;
  }

  .search-field{
    border-radius: 0;
    background-color: rgba(0,0,0,0) !important;
    color: white !important;
    border: none;
    border-bottom: 1px solid white;
  }

  .search-form{
    margin-left: auto;
  }

  #navbar{
    background-color: rgba(0,0,0,0) !important;
    padding-left: 80px;
    padding-right: 80px;
  }

  #navbar:hover{
    background-color: rgba(51,51,51,0.5) !important;
  }

  main {
    margin-top: 55px;
    padding: 20px;
    min-height: calc(100vh - 95px);
    max-height: calc(100vh - 95px);
  }
  main * {
    max-height: calc(100vh - 95px);
  }

  main.full {
    min-height: 100vh;
    max-height: 100vh;
    padding: 0;
    margin: 0;
  }

  main.full *{
    max-height: 100vh;
  }

</style>
<title>Baaka</title>